<div class="text-center">
  <!-- Render the 'name' variable -->
  <h2>{{name}}</h2>
  <!-- Render the 'get_emoji' function found from helper function -->
  <p>{{{get_emoji}}}</p>
  <!-- Render the 'description' variable -->
  <p>{{description}}</p>
  <!-- Render information about the creator and format a date -->
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>